<div class="container">
    <form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">

        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="nombre" formControlName="nombre" required>
              </mat-form-field>
        </div>
        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="formulario.invalid">Guardar Datos</button>
        </div>
    </form>
</div>
